<div fxLayout="row wrap">
  <div fxFlex.gt-xs="75%" fxFlexOffset.xs="5%" [style.margin-top.px]="100" fxFlexOrder="1">
    <mat-card align="justify">
      <mat-card-content>
        <p>JanaSenaParty is sole party started by
          <b>Pawan Kalyan</b> to address common man issues. It is political party, not for politicians. This website soley created
          and to support Janasena Party to know the current issues by conducting online polls. </p>

        <p>
          Thanks for your support. Your feedback is welcome mail me @
          <b>connect.janasenaparty@gmail.com</b>

        </p>
      </mat-card-content>
      <!-- <mat-card-footer align="center">
        <share-buttons show="8" [showCount]="true"></share-buttons>

      </mat-card-footer> -->
    </mat-card>
  </div>
</div>