<mat-toolbar color="accent" role="toolbar">
  <div fxLayoutAlign="space-between center" class="nav-buttons">
    <span>
      <img src='../assets/logo.png' style="width:80px; height:80px;" [style.margin-top.px]="20" >
      <!-- <button mat-button [routerLink]="['/']">JanaSenaParty</button> -->
    </span>
    <div *ngIf="!(authService.user$ | async)?.uid">
        <button mat-button [routerLink]="['/about']">About Us</button>
      <button mat-button [routerLink]="['/login']">Login</button>
    </div>

    <div *ngIf="(authService.user$ | async)?.uid">
      <button mat-button [routerLink]="['/poll-list']">Polls</button>
      <button mat-button (click)="logout()">Logout</button>
    </div>
  </div>
</mat-toolbar>
<div>
  <div fxFlexOffset.gt-sm="15%" fxFlex.gt-sm="70%">
    <!-- <app-poll-edit></app-poll-edit> -->
    <router-outlet></router-outlet>
  </div>
</div>